<!DOCTYPE html>
<html>
    <head>
        <title>Private</title>
    </head>
    <body>
        <h1>This page is only for logged users</h1>
        <h4>Your data is <%= user %></h4>
        <a href="/" title="Home">Home</a>
        </ul>
    </body>
</html>